<head>
  <title></title>
  <meta charset = "utf-8">
  <link rel="stylesheet" type="text/css" href="css/styles-1b.css">
</head>
<body>
<article>
<p>This is a paragraph of text</p>
<p>This is another paragraph of text.</p>
<p>This is yet another paragraph of text.</p>
<p>And another paragraph of text.</p>
</article>
</body>

