<head>
  <title></title>
  <meta charset = "utf-8">
  <link rel="stylesheet" type="text/css" href="css/styles-1a.css">
</head>
<body>
<p>This is a paragraph of text on an HTML page. I'm going to use CSS to make the text on the page white, and make the background on the page, black.</p>


</body>